L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.assets.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.GeneratedMSBuildEditorConfig.editorconfig
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.assets.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.GeneratedMSBuildEditorConfig.editorconfig
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.assets.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.GeneratedMSBuildEditorConfig.editorconfig
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.assets.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.assets.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.assets.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.csproj.AssemblyReference.cache
